body {
    margin: 0;
    padding: 0;
}

ul {
    width: 100dvw;
    height: 100dvh;
    background: radial-gradient(#a50, #000);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li {
    background-image: url("./assets/container.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span {
    margin: 5px;
    background-color: black;
    border-radius: 9px;
    color: #edc;
}