body {
    background: radial-gradient(#000, #a50);
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container {
    background-image: url("./assets/container.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 75%;
    height: 80px;
}

.container a {
    color: #edc;
    width: 100%;
    height: 100%;
}